.app {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    padding: 10rem 3rem;
}

.main {
    width: 110rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.headline {
    font-size: 4rem;
    font-weight: 500;
    color: var(--color-text);
    text-align: left;
    padding: 0 0.3rem;
}

.inputContainer {
    width: 100%;
    padding: 0.3rem;
}

.input {
    width: 100%;
    resize: none;
    border: none;
    background: var(--color-foreground);
    color: var(--color-text);
    padding: 3rem;
    font-size: 1.8rem;
    border-radius: 0.4rem;
    overflow: hidden;
    font-family: 'JetBrains Mono', 'Rubik', sans-serif;
    line-height: 1.2;
    font-variant-ligatures: no-contextual;

    &:focus {
        outline: 0.3rem solid var(--color-accent);
    }

    &::placeholder {
        color: var(--color-text-light);
    }
}

.outputContainer {
    width: 100%;
    padding: 0.3rem;
}

.github {
    color: var(--color-text-light);
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: color 0.2s;
    font-family: 'JetBrains Mono', 'Rubik', sans-serif;

    &:hover {
        color: var(--color-text);
    }
}
