.code {
    display: block;
    width: 100%;
    cursor: text;
    background: var(--color-foreground);
    color: var(--color-text);
    padding: 3rem;
    font-size: 1.8rem;
    border-radius: 0.4rem;
}

.token {
    display: inline;
    overflow: hidden;
    font-family: 'JetBrains Mono', 'Rubik', sans-serif;
    line-height: 1.4;
    font-variant-ligatures: no-contextual;
    white-space: pre-wrap;
}
